.member-new-address-wrapper
  .member-new-address-header
    .sms-confirmation-merukari-logo
      = image_tag "merikari4.png", size:'185x49',class: "confirmation_merukari"
    .member-new-address-progress
      %li.progress
        会員情報
        .progress-parts_1
      %li.progress
        電話番号認証
        .progress-parts_complete
      %li.progress-here
        お届け先住所入力
        .progress-parts_here
      %li.progress
        支払い方法
        .progress-parts
      %li.progress
        完了
        .progress-parts_5
  .member-new-address-menu
    .member-new-address-menu__contents
      .member-new-address-menu__top
        発送元・お届け先住所入力
      .member-new-address-menu__main
        .member-new-address-menu__input-field
          = form_for @user, url: signup_index_path, method: :post do |f|
            = hidden_field_tag :current_step, 'address'
            = f.fields_for :address do |a| #addressに保存する
              .member-new-name-kanji
                %label.label-1 お名前
                %span.span-1 必須
                = a.text_field :last_name, placeholder: '例) 山田', class: 'input-registration-form'
                = a.text_field :first_name, placeholder: '例) 彩', class: 'input-registration-form'
              .member-new-name-kana
                %label.label-1 お名前カナ
                %span.span-1 必須
                = a.text_field :last_name_kana, placeholder: '例) ヤマダ', class: 'input-registration-form'
                = a.text_field :first_name_kana, placeholder: '例) アヤ', class: 'input-registration-form'
              .member-new-postal-code
                %label.label-1 郵便番号
                %span.span-1 必須
                = a.text_field :postal_cord, placeholder: '例)123-4567', class: 'input-registration-form'
              .member-new-prefectures
                %label.label-1 都道府県
                %span.span-1 必須
                = a.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}
              .member-new-municipal-district
                %label.label-1 市町村区
                %span.span-1 必須
                = a.text_field :city, placeholder: '例)横浜市緑区', class: 'input-registration-form'
              .member-new-banchi
                %label.label-1 番地
                %span.span-1 必須
                = a.text_field :block, placeholder: '例)青山1-1-1', class: 'input-registration-form'
              .member-new-building-name
                %label.label-1 建物名
                %span.span-2 任意
                = a.text_field :building, placeholder: '例)柳ビル103', class: 'input-registration-form'
              .member-new-telephone-number
                %label.label-1 電話番号
                %span.span-2 任意
                = a.text_field :phone_number, placeholder: '例)09012345678', class: 'input-registration-form'
            .button-next-page
              = f.submit '次に進む'
  = render "devise/registrations/footer-signup" 

