.user-login-wrapper

  = render "devise/registrations/header-signup"

  .sign-btn-menu
    .sign-up__btn
      .sign-up__new
        %p アカウントをお持ちでない方はこちら
        = link_to '新規会員登録', new_user_registration_path, method: :get, class: "sign-up__link"
      .log-in__menu
        .log-in__btn
          =link_to "https://www.facebook.com/", class: "log-in__btn log-in__btn--facebook" do
            = fa_icon 'facebook-square', class: "facebook-icon"
            Facebookでログイン
          =link_to "https://www.google.com/", class: "log-in__btn log-in__btn--google" do
            = image_tag "google-logo-login.png", size:'45x45', class: "google-icon"
            Googleでログイン
      .log-in__mail
        .mail-form
          %input.login-input-text.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
        .pass-form
          %input.login-input-text.input-default{:name => "password", :placeholder => "パスワード", :type => "password"}/
        .no-robot
          %input.no-robot-check{:name => "check", :type => "checkbox"}/          
          %a 私はロボットではありません
          = image_tag "logo_recaptcha.png", size:'30x30', class: "logo_recaptcha"
          .no-robot-text
            %li reCAPTCHA
            %li プライバシー-利用規約
        .log-in__btn
          ログイン
        .no-password-text
          パスワードをお忘れの方

  = render "devise/registrations/footer-signup"
