.main-contents-container
  - if @chanel.present?
    .main-contents-container-category#chanel
      シャネル新着アイテム
      = link_to "もっと見る ＞", chanel_items_path, class: "more_category"
    = render @chanel

  - if @louis_vuitton.present?
    .main-contents-container-category#louis_vuitton
      ルイヴィトン新着アイテム
      = link_to "もっと見る ＞", louis_vuitton_items_path, class: "more_category"
    = render @louis_vuitton

  - if @supreme.present?
    .main-contents-container-category#supreme
      シュプリーム新着アイテム
      = link_to "もっと見る ＞", supreme_items_path, class: "more_category"
    = render @supreme
  
  -if @nike.present?
    .main-contents-container-category#nike
      ナイキ新着アイテム
      = link_to "もっと見る ＞", nike_items_path, class: "more_category"
    = render @nike