.main-contents-container
  - if @ladies.present?
    .main-contents-container-category#ladies
      レディース新着アイテム
      = link_to "もっと見る ＞", ladies_items_path, class: "more_category"
    = render @ladies

  - if @mens.present?
    .main-contents-container-category#mens
      メンズ新着アイテム
      = link_to "もっと見る ＞", mens_items_path, class: "more_category"
    = render @mens

  - if @appliances.present?
    .main-contents-container-category#appliances
      家電・スマホ・カメラ新着アイテム
      = link_to "もっと見る ＞", appliances_items_path, class: "more_category"
    = render @appliances
  
  -if @hobby.present?
    .main-contents-container-category#hobby
      おもちゃ・ホビー・グッズ新着アイテム
      = link_to "もっと見る ＞", hobby_items_path, class: "more_category"
    = render @hobby