.wrapper
  .main-header-chanel
    = render 'items/sub-main-header'
  .pankuzu-category
    - breadcrumb :chanel
    = breadcrumbs pretext: "",separator: " &rsaquo; "
  .main-contents
    = render 'main-contents_only_chanel'
  .sell-btn
    = render 'sell-btn'
  .banner
    = render 'banner'
  .footer
    = render 'footer'