.wrapper_sell_item_shimo

  = render 'devise/registrations/header-signup'

  .sell_item_container
    = form_with model: @items, local: true do |f|
      .sell__container
        %h2.sell__container__header
          商品の情報を入力
        %form.sell__container__form
          .sell__container__form__upload
            %h3.sell__container__form__upload__header
              出品画像
              %span.required
                必須
            %p.sell__container__form__upload__message
              最大10枚までアップロードできます
            .sell__container__form__upload__dropbox
              .sell__container__form__upload__dropbox__have
                .previews
                  = f.label :image, class: "sell__container__form__upload__dropbox__have__image-up" do
                    = image_tag @items.image, size: "114x114"
                    .sell__container__form__upload__dropbox__have__image-up__box-size
                    = f.file_field :image, class:'hidden'
                    %pre.sell__container__form__upload__dropbox__have__message
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
          .sell__container__form__contents
            .sell__container__form__contents__area1
              %label.item__label
                商品名
                %span.required
                  必須
              = f.text_field :trade_name, class: "sell__container__form__contents__area1__input", placeholder: '商品名（必須40文字まで)', max: 40
            .sell__container__form__contents__area2
              %label.item__label
                商品の説明
                %span.required
                  必須
              = f.text_area :description, class: "sell__container__form__contents__area2__description", placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万年で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', max: 1000 
          .sell__container__form__contents.clearfix
            %h3.sell__container__form__header
              商品の詳細
            .sell__container__form__box
              .sell__container__form__box__category-wrapper
                %label.item__label
                  カテゴリー
                  %span.required
                    必須
                .choose__wrap
                  = form_for '' do |f|
                    = fa_icon 'angle-down', class: 'icon-down'
                    = f.collection_select(:category_ids, @parents, :id, :name, {prompt:"---"},{class: "select-default", id: "parent-category", name: 'item[category_ids][]'})
              .sell__container__form__box__group2
                %label.item__label
                  商品の状態
                  %span.required
                    必須
                .choose__wrap
                  = fa_icon 'angle-down', class: 'icon-down'
                  = f.select :condition, [["---"],["新品、未使用","新品、未使用"],["未使用に近い","未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]], {class: "choose__cell"}
          .sell__container__form__contents.clearfix
            %h3.sell__container__form__header
              配送について
            %a.question
              ?
            .sell__container__form__box
              .sell__container__form__box__delivery-wrapper
                %label.item__label
                  配送料の負担
                  %span.required
                    必須
                #delivery-choose.choose__wrap
                  = fa_icon 'angle-down', class: 'icon-down'
                  = f.select :postage, [["---"],["送料込み(出品者負担)","送料込み(出品者負担)"],["着払い(購入者負担)","着払い(購入者負担)"]], {id:"delivery-choose"}, {class: "choose__cell"}

              .sell__container__form__box__group2
                %label.item__label
                  発送元の地域
                  %span.required
                    必須
                .choose__cell-input
                  = fa_icon 'angle-down', class: 'prefecture-icon'
                  = f.collection_select :shipment_area, Prefecture.all, :id, :name, prompt: "---"
              .sell__container__form__box__group2
                %label.item__label
                  発送までの日数
                  %span.required
                    必須
                .choose__wrap
                  = fa_icon 'angle-down', class: 'icon-down'
                  = f.select :shipment_date, [["---"],["1~2日で発送","1~2日で発送"],["2~3日で発送","2~3日で発送"],["4~7日で発送","4~7日で発送"]], {class: "choose__cell"}
          .sell__container__form__contents.clearfix
            %h3.sell__container__form__header
              販売価格(300〜9,999,999)
            %a.question
              ?
            .sell__container__form__box
              %ul.price__area
                %li.sell__price
                  .price__form
                    %label.price__form--left
                      価格
                      %span.required
                        必須
                    .price__form--right
                      ¥ 
                      = f.number_field :price, class: "input__price", id: "selling_price-right", placeholder: '例）300', type: 'number', min: 333, max: 9999999
                %li.fee
                  .sell__fee
                    販売手数料(10%)
                  .sell__fee-right
                    -
                %li.profit
                  .sell__profit
                    販売利益
                  .sell__profit-right
                    -
          .sell__container__form__button
            .sell__container__form__button__message
              %p.msg
                %link_to.blank{target: "_blank"}
                  禁止されている出品
                、
                %link_to.blank{target: "_blank"}
                  行為
                を必ずご確認ください。
              %p.msg
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                %link_to.blank{target: "_blank"}
                  偽ブランドの販売
                は犯罪であり処罰される可能性があります。
              %p.msg
                また、出品をもちまして
                %link_to.blank{target: "_blank"}
                  加盟店規約
                に同意したことになります。
            = f.submit "出品する", class: "sell__container__form__button__exhibit-btn"
            = link_to root_path, class: 'sell__container__form__button__return-btn' do
              もどる

  = render 'devise/registrations/footer-signup'