.wrapper
  .main-header
    = render 'main-header'
  .top-banner
  .aasa
    %ul.slider
      %li
        = image_tag 'top-banner.png'
      %li
        = image_tag 'banner2.png'
      %li
        = image_tag 'bananar.jpg'
  .main-contents
    = render 'main-contents'
  .sell-btn
    = render 'sell-btn'
  .banner
    = render 'banner'
  .footer
    = render 'footer'