.wrapper
  .main-header
    = render 'main-header'
  .top-banner
    = image_tag 'top-banner.png'
  .main-contents
    = render 'main-contents'
  .banner
    = render 'banner'
  .footer
    = render 'footer'