.wrapper
  .main-header
    = render 'main-header'
  .top-banner
  .aasa
    %ul.slider
      %li
        = image_tag 'top-banner.png'
      %li
        = image_tag 'banner2.png'
      %li
        = image_tag 'bananar.jpg'
  .category-select-btn
    %p 人気のカテゴリー
    .category-select-btn__menu
      %li.ladies
        = link_to "レディース", { anchor: "ladies"}, class: "category_jump"
      %li.mens
        = link_to "メンズ", { anchor: "mens" }, class: "category_jump"
      %li.appliances
        = link_to "家電・スマホ・カメラ", { anchor: "appliances"}, class: "category_jump"
      %li.hobby
        = link_to "おもちゃ・ホビー・グッズ", { anchor: "hobby"}, class: "category_jump"
  .main-contents
    = render 'main-contents'
  .category-select-btn
    %p 人気のブランド
    .category-select-btn__menu
      %li.chanel
        = link_to "シャネル", { anchor: "chanel"}, class: "category_jump"
      %li.louis_vuitton
        = link_to "ルイヴィトン", { anchor: "louis_vuitton" }, class: "category_jump"
      %li.supreme
        = link_to "シュプリーム", { anchor: "supreme"}, class: "category_jump"
      %li.nike
        = link_to "ナイキ", { anchor: "nike"}, class: "category_jump"
  .main-contents
    = render 'main-contents_brand'
  .sell-btn
    = render 'sell-btn'
  .banner
    = render 'banner'
  .footer
    = render 'footer'