.wrapper
  .main-header
    = render 'main-header'
  .pankuzu-category
    - breadcrumb :ladies
    = breadcrumbs pretext: "",separator: " &rsaquo; "
  .main-contents
    = render 'main-contents_only_ladies'
  .sell-btn
    = render 'sell-btn'
  .banner
    = render 'banner'
  .footer
    = render 'footer'