.wrapper
  .main-header-loui_vuitton
    = render 'items/sub-main-header'
  .pankuzu-category
    - breadcrumb :louis_vuitton
    = breadcrumbs pretext: "",separator: " &rsaquo; "
  .main-contents
    = render 'main-contents_only_louis_vuitton'
  .sell-btn
    = render 'sell-btn'
  .banner
    = render 'banner'
  .footer
    = render 'footer'