.wrapper-show
  .header-show
    = render 'main-header'
  .item-box
    .item-name  
      = @items.trade_name
    .item-box__main
      .item-box__main__photo
        .item-box__main__photo__owl-photo
          .item-box__main__photo__owl-photo__top
            -if @items.buyer_id.present? #雉野追記,購入した商品にSOLD表示する 14行目まで
              .item-box_photo__sold
                .item-box_photo__sold__inner
                  SOLD
            .item-box__main__photo__owl-photo__top__active
              = image_tag "#{@photo_data.url}", size:'300x300'
        .item-box__main__photo__under-photo
          .item-box__main__photo__under-photo__small-photo
            .item-box__main__photo__under-photo__small-photo__picture
              = image_tag "#{@photo_data.url}", size:'60x60'
      .item-box__main__item-table
        .item-box__main__item-table__list
          .item-box__main__item-table__list__left
            出品者
          .item-box__main__item-table__list__right
            %a
              = @user.nickname #雉野追記
            .div
              .item-box__main__item-table__list__right__smile
                = image_tag 'smile.svg',size:'16x16',class: 'item-box__main__item-table__list__right__smile__icon-smile'
                %span 8
              .item-box__main__item-table__list__right__smile
                = image_tag 'meh.svg',size:'16x16',class: 'item-box__main__item-table__list__right__smile__icon-smile'
                %span 8
              .item-box__main__item-table__list__right__smile
                = image_tag 'bad.svg',size:'16x16',class: 'item-box__main__item-table__list__right__smile__icon-smile'
                %span 8
        .item-box__main__item-table__list-2
          .item-box__main__item-table__list-2__left
            カテゴリー
          .item-box__main__item-table__list-2__right
            .item-box__main__item-table__list-2__right__td
              %a 家電・スマホ・アクセサリー
              %a スマホアクセサリー
              %a iphone用ケース
        .item-box__main__item-table__list-3
          .item-box__main__item-table__list-3__left
            ブランド
          .item-box__main__item-table__list-3__right
            - if @brand.name.empty?
              = ""
            - else 
              = @brand.name
        .item-box__main__item-table__list-3
          .item-box__main__item-table__list-3__left
            商品の状態
          .item-box__main__item-table__list-3__right
            = @items.condition
        .item-box__main__item-table__list-3
          .item-box__main__item-table__list-3__left
            送料の負担
          .item-box__main__item-table__list-3__right
            = @items.postage
        .item-box__main__item-table__list-3
          .item-box__main__item-table__list-3__left
            配送の方法
          .item-box__main__item-table__list-3__right
            = @items.delivery_method
        .item-box__main__item-table__list-3
          .item-box__main__item-table__list-3__left
            発送現地域
          .item-box__main__item-table__list-3__right
            %a 
            = @shipment_area_name #雉野追記
        .item-box__main__item-table__list-3
          .item-box__main__item-table__list-3__left
            配送日の目安
          .item-box__main__item-table__list-3__right
            = @items.shipment_date
    .price-box
      .price-box__item-price
        = "¥#{@items.price}"
      .price-box__item-tax
        （税込）
      .price-box__item-shipping
        送料込み
    .seller_menu_btn
      - if user_signed_in? && current_user.id == @items.seller_id #雉野追記上のクラス.seller_menu_btnから
        %button.seller_menu_btn__update
          = link_to '商品の編集', edit_item_path, method: :get, class: 'default_btn_red'
        %button.default_btn_gray
          出品を一旦中止する
        %br or
        %button.seller_menu_btn__delete
          = link_to 'この商品を削除する', item_path, method: :delete, class:'default_btn_gray' #雉野追記ここまで
    .item-by-btn
      - if @items.buyer_id.present?
        こちらの商品は売切れです。
      - else
        = link_to "購入画面に進む", buy_item_path #雉野追記
    .item-discription
      .item-discription__inner
        = @items.description
    .item-button
      .item-button__left
        .item-button__left__like
          = fa_icon 'heart',class:'item-button__left__like__heart-icon'
          %span いいね！
          %span.fade-in-down 3
        .item-button__left__report
          = fa_icon 'flag',class: 'item-button__left__report__flag-icon'
          %span 不適切な商品の報告
      .item-button__right
        = fa_icon 'lock'
        %span あんしん・あんぜんへの取り組み
  .item-message
    .item-message__explain
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input.form_input{:type => "text"}
      .item-btn
        .item-btn__coment
          コメントする
  .social-media
    .social-media__box
      %li.facebook
        =link_to "https://www.facebook.com/sharer/sharer.php?u=<URL>", class: "example" do
          = fa_icon 'facebook-square'
      %li.twitter
        =link_to "https://twitter.com/intent/tweet?url=<URL>&text=<テキスト>&via=<ユーザーID>&hashtags=<タグ名>&related=<ユーザーID>", class: "example" do
          = fa_icon 'twitter'
      %li.pint
        =link_to "https://www.pinterest.jp", class: "example" do
          = fa_icon 'pinterest'
  .banner
    = render 'banner'
  .footer
    = render 'footer'