.wrapper-mypage-shimo
  .main-header
    = render 'items/main-header'

  .mypage_container_shimo
    .mypage__container
      .profile
        %h2.profile__header
          プロフィール
        %form.profile__form
          .profile__form__setting_icon
            = image_tag 'IMG_20180107_122700.png', size:'60x60', class: 'my_icon'
            %input.nickname
          .profile__form__setting_content
            %textarea.introduction
            %button.change-btn
              変更する

    .mypage-left
      = render 'profile/mypage-left'

  .banner
    = render 'items/banner'

  .fotter
    = render 'items/footer'