.wrapper-logout
  .header-logout
    = render 'items/main-header'
  .pankuzu-logout
    - breadcrumb :logout
    = breadcrumbs pretext: "",separator: " &rsaquo; "
  .main-container-logout
    .main-container-logout__right
      .main-container-logout__right__logout
        ログアウト
    .main-container-logout__left
      = render 'mypage-left'
  .banner
    = render 'items/banner'
  .footer-logout
    = render 'items/footer'